:root{
    --main-grey: #ededed;
    --ice-white: #FFFFFF;
    --black-opaque: rgba(255,255,255,0.24);
    --solid-gray: #808080
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-grey);
}

/* MAIN WINDOW */
.title{
    font-family: 'Rubik Glitch', system-ui;
    font-size: 4vw;
    position: fixed;
    top: 4rem;
    left: 35%;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.stage{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* GRID */

.grid-square{
    background-color: var(--ice-white);
}
.grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: var(--black-opaque) 0px 3px 8px;
}

/* SETTINGS/BUTTONS */

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.colour-picker {
    -webkit-appearance: none;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-left:12px;
  }
.colour-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
  }

.colour-picker:-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50px;
  }





.btn {
    border: 2px solid var(--solid-gray);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.size-value{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--solid-gray);
    font-size: large;
    margin-bottom: 0;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--black-opaque);
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 24px;
    margin-top: -8px;
    background: black;
    box-shadow: var(--black-opaque) 0px 3px 8px;
  }
/* FOOTER ELEMENTS */

.footer-elements {
    display: flex;
    gap: 30px;
    font-size: large;
    margin-top: 50px;
}